<div class="container">
  <div class="columns col-gapless">
    <%# Sidebar %>
    <div class="column col-2 book-nav">
      <ul>
        <li><a href="/"><%= __('nav.home') %></a></li>
        <% if(theme.nav) { %>
          <% theme.nav.forEach(function(nav){ %>
            <% if(nav == 'Archives'){ %>
                <li><a href="/archives"><%= __('nav.archives') %></a></li>
            <% } %>
            <% if(nav == 'Categories'){ %>
                <li><a href="/categories"><%= __('nav.categories') %></a></li>
            <% } %>
            <% if(nav == 'Tags'){ %>
                <li><a href="/tags"><%= __('nav.tags') %></a></li>
            <% } %>
            <% if(nav == 'About'){ %>
                <li><a href="/about"><%= __('nav.about') %></a></li>
            <% } %>
          <% }) %>
        <% } %>
      </ul>
      <%-partial('partials/recent-posts')%>
    </div>

    <%# Post %>
    <div class="column col-10">
      <% page.posts.sort('date').reverse().forEach(function(post){ %>
        <div class="home-post">
          <!-- Title -->
          <a href="<%- config.root %><%- post.path %>" class="home-post-title">
            <h3><%- post.title %></h3>
          </a>

          <!-- Post meta -->
          <h5 class="home-post-meta">
              <!-- Date -->
              <%= post.date.format(config.date_format) %>
              <!-- Categories -->
              <%- list_categories(post.categories, {
                  show_count: false,
                  style: 'none',
                  separator: ' '
              }) %>
              <!-- Tags -->
              <% post.tags.forEach(function(tag){ %>
                  <a href="<%= config.root %>tags/<%= tag.name %>">#<%= tag.name %></a>
              <% }) %>
          </h5>

          <!-- Content -->
          <div class="home-post-excerpt">
            <%- truncate(strip_html(post.content), {length: 300, omission: ' '}) %>
            <a href="<%- config.root %><%- post.path %>">
                ...
            </a>
          </div>

          </div>
      <% }) %>

          <hr>
      
    </div>
  </div>
</div>