<% page.posts.sort('date').reverse().forEach(function(post){ %>
  <div class="home-post">
    <!-- Title -->
    <a href="<%- config.root %><%- post.path %>" class="home-post-title">
      <h3><%- post.title %></h3>
    </a>

    <!-- Post meta -->
    <h5 class="home-post-meta">
        <!-- Date -->
        <%= post.date.format(config.date_format) %>
    </h5>

    <!-- Content -->
    <a class="home-post-excerpt" href="<%- config.root %><%- post.path %>">
      <%- truncate(strip_html(post.content), {length: 300, omission: ' '}) %>
    </a>

    </div>
<% }) %>

<% if (page.total > 1) { %>
  <nav class="pager">
      <%- paginator() %>
  </nav>
<% } %>