<div class="book-post-meta-wrapper">
  <div class="book-post-meta">

    <div class="author">
      <!-- Author image -->
      <div class="author-img">
        <figure class="avatar avatar-xl">
          <img src="<%= url_for('andy.png') %>" alt="...">
        </figure>
        <!-- <figure class="avatar avatar-xl" data-initial="Y" style="background-color: #5755d9;"></figure> -->
      </div>
      <!-- Author title -->
      <div class="author-title">
        <div><%= page.author ? page.author : config.author %></div>
        <div><%= page.date ? page.date.format(config.date_format) : "" %></div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="link">
      <%- list_categories(page.categories, {
          show_count: false,
          style: 'none',
          separator: ' '
      }) %>

      <%- list_tags(page.tags, {
          show_count: false,
          style: 'none',
          separator: ' ',
          transform(str) {
            return "#" + str
          }
      }) %>
    </div>

    <div class="divider"></div>
  </div>
</div>