<div class="book-sidebar">
  <h4 class="site-meta">
    <a href="<%= config.root %>"><%= config.title %></a>
  </h4>
  <%- partial('_components/menu') %>
</div>

<%- js('js/book-sidebar') %>

<script>
collapse_menu(<%= theme.collapse_depth %>)
highlight_tab()
show_menu()
</script>